<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>Quatro</title>
    </head>
    <body>
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a href="#" class="w3-bar-item w3-button w3-theme-l1">QUARTO</a>
      <a href="./index" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Menu</a>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <div id="board">
                    {% for row in board %}
                        {% for field in row %}
                         <div class="field">
                            {% if field %}{{ field }}{% endif %}
                         </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6 forms">
                <form method="POST" action="" id="game_form">
                <p>{{ player }}</p>
                    <p>Twój pionek: {{ piece }}</p>
                    <label for="piece_select">Pionek dla przeciwnika</label>
                    <select name="piece" id="piece_select">
                        {% for piece in pieces %}
                            <option value="{{ piece.id }}">{{ piece }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="field_select">Gdzie umieścisz swój pionek:</label>
                    <br>
                    <select name="field" id="field_select">
                        {% for id in free_fields %}
                            <option value="{{ id }}">{{ id }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="ok">
                </form>
            </div>
        </div>
    </body>
    </html>