<!DOCTYPE html>
<html lang="en">
<title>Zasady Gry Quarto</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">QUARTO</a>
    <a href="./index" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Menu</a>
  </div>
</div>

<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">QUARTO</h1>
        <p><b>Typ gry:</b> logiczna</p>
        <p><b>Opis:</b>To jest gra dla dwóch graczy. Plansza ma 16 kwadratów (4x4) i 16 różnych elementów,
            które można układać, łącząc następujące cztery cechy:</p>
        <ul>
            <li>Rozmiar (duży / mały)</li>
            <li>Kolor (beżowy/ czarny)</li>
            <li>Kształt (koło / kwadrat)</li>
            <li>Otwór (element z otworem / element bez otworu)</li>
        </ul>
        <p><b>Cel:</b> Celem gry jest skompletowanie linii czterema figurami, które są podobne przynajmniej w
            odniesieniu do jednej z czterech opisanych cech (cztery duże figury, cztery małe, cztery czerwone,
            cztery niebieskie, cztery koła, cztery kwadraty, cztery z dołkiem lub cztery bez otworu).
            Linia może być pionowa, pozioma lub ukośna. Zwycięzcą zostaje gracz, który stawi czwarty element linii.</p>
        <p><b>Jak toczy się gra:</b> Gracze poruszają się naprzemiennie, umieszczając jeden element na planszy; Po wstawieniu elementów nie można ich przenosić.
        Jedną z bardziej szczególnych cech tej gry jest to, że wyboru elementu, który ma zostać umieszczony na planszy, nie dokonuje
        ten sam gracz, który go umieszcza; to przeciwnik po wykonaniu swojego ruchu decyduje, która bierka zostanie umieszczona
        jako następna.</p>
        <p>Każda tura składa się z dwóch akcji:</p>
        <ol>
            <li>Umieść na planszy figurę podaną przez przeciwnika.</li>
            <li>Daj przeciwnikowi figurę, która ma zostać umieszczona w następnym ruchu.</li>
        </ol>
        <p>W pierwszej turze rozgrywki rozpoczynający grę musi wybrać tylko jedną figurę dla przeciwnika.</p>
        <p><b>Finał:</b> Gra kończy się remisem, gdy nikt nie osiągnie celu po umieszczeniu 16 elementów.</p>
    </div>

<!-- END MAIN -->
</div>
</body>
</html>
